{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer Registration</h3>
   <hr>
   <form method="POST" action="index.html" novalidate class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3">
     <label for="text" class="form-label">Name</label>
     <input type="text" class="form-control" id="text" name="ename">
    </div>

    <div class="mb-3">
     <label for="inputEmail4" class="form-label">Email</label>
     <input type="email" class="form-control" id="inputEmail4" name="eemail">
    </div>

    <div class="mb-3">
     <label for="inputPassword1" class="form-label">Password</label>
     <input type="password" class="form-control" id="inputPassword1" name="password">
    </div>

    <div class="text-end">
     <button type="button" class="btn btn-danger" name="register">Submit</button>
    </div>
    <br>
    <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
       class="text-danger">Login Now</a> </small></div>
   </form>
  </div>
 </div>
</div>
{% endblock %}